<header class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4">
    <a type="button" class="btn btn-primary me-2 mb-2 active" href="/TERCEROS_WEB_MODIFICACION.html">Actualización de <br>Info del Cliente</a>
    <a type="button" class="btn btn-primary me-2 mb-2" href="/RESUMEN_TRIBUTARIOS.html">Consultas</a>
    <a type="button" class="btn btn-primary me-2 mb-2" href="/PROCESO_LIBERACION.html">Proceso <br>Liberación</a>
    <a type="button" class="btn btn-primary me-2 mb-2" href="/PAGO_FACTURAS.html">Pago Facturas <br>No relacionado <br>con liberaciones</a>
    <a type="button" class="btn btn-primary me-2 mb-2" href="/GENERACION_RECIBOS_CAJA.html">Generación de <br>Recibos de Caja</a>
    <a type="button" class="btn btn-primary me-2 mb-2" href="/REEMBOLSOS_DEPOSITOS.html">Reembolsos <br>Depósitos</a>
</header>